<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.toast.approval.dao.ApprovalDAO">
    <select id="form_list" resultType="Map">
        SELECT form_subject FROM form
    </select>

    <select id="form" resultType="Map">
        SELECT form_idx, form_subject,form_content,form_handler_idx FROM form WHERE form_subject = #{subject}
    </select>

</mapper>