.tst_container{
    justify-content: center;
    align-items: center;
}

.logo_box{
    text-align: center;
    margin: 0 0 20px;
}

.login_box{
    width: 350px;
    margin: 0 auto;
}



input[type="text"],
input[type="password"]{
    border-color: var(--tst-color-white);
    background-color: var(--tst-color-white);
}

input[type="text"].input_caution,
input[type="password"].input_caution{
    border-color: var(--tst-form-invalid-border-color);
}



.list_tab{
    width: 100%;
    margin: var(--tst-margin-vertical) 0;
    padding: 0;
    border-bottom: var(--tst-border-width) var(--tst-border-style) var(--tst-color-white);
}

.list_tab .list_tab_item{
    margin: 0 0 -1px;
    padding: var(--tst-form-padding);
    color: var(--tst-color-medium);
    font-weight: 400;
    display: inline-block;
    cursor: pointer;
}

.list_tab .list_tab_item.list_tab_item_active{
    border-bottom: 2px var(--tst-border-style) var(--tst-color-medium);
    color: var(--tst-body-color);
    font-weight: 600;
}



.result_box{
    height: 180px;
}

.result_box h1{
    margin: 0 auto;
}